<div class="mat-elevation-z8 table-responsive">
  @defer (on idle) {
  <button mat-button disabled><b>Troncal:</b>
    <p>{{troncal_selected}}</p>
  </button>
  <button mat-button disabled><b>Linea:</b>
    <p>{{linea_selected}}</p>
  </button>
  <button mat-button disabled><b>Corrida de referencia:</b>
    <p>{{corridaB}}</p>
  </button>
  }
  <table mat-table [dataSource]="dataSource" class="mat-elevator-z8" tabindex="0">
    <ng-container matColumnDef="diam_espe">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Diám/Espe</b></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.diam_espe}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="linea">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Línea</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.linea}} </td>
    </ng-container>
    <ng-container matColumnDef="emparejado">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>¿EMPAREJADO? SI / NO</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.emparejado}} </td>
    </ng-container>
    <ng-container matColumnDef="provedor_corrida">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Proveedor Corrida / Tipo / año</b></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.provedor_corrida}} </td>
    </ng-container>
    <ng-container matColumnDef="distancia_reg">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Distancia del reg. [m]</b></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.distancia_reg}} </td>
    </ng-container>
    <ng-container matColumnDef="distancia_reg_ref">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Distancia del reg. Referencia [m]</b></th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.distancia_reg_ref}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="corrida_ref">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Corrida de referencia</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.corrida_ref}} </td>
    </ng-container>
    <ng-container matColumnDef="latitud_n">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Latitud N [decimales]</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.latitud_n}} </td>
    </ng-container>
    <ng-container matColumnDef="longitud_w">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Longitud W [decimales]</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.longitud_w}} </td>
    </ng-container>
    <ng-container matColumnDef="altura">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Altura (m)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.altura}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo_evento">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Tipo Evento</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_evento}} </td>
    </ng-container>
    <ng-container matColumnDef="identificacion_evento">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Identificación Evento</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.identificacion_evento}} </td>
    </ng-container>
    <ng-container matColumnDef="numero_junta">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Número Junta</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.numero_junta}} </td>
    </ng-container>
    <ng-container matColumnDef="diametro">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Diámetro (mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.diametro}} </td>
    </ng-container>
    <ng-container matColumnDef="t_nominal">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>t. Nominal (mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.t_nominal}} </td>
    </ng-container>
    <ng-container matColumnDef="distancia_reg_ja">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Distancia del reg. J.A. corrida de referencia
          (m)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.distancia_reg_ja}} </td>
    </ng-container>
    <ng-container matColumnDef="p_horaria">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>P. Horaria (hh:mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.p_horaria}} </td>
    </ng-container>
    <ng-container matColumnDef="long">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Long. (mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.long}} </td>
    </ng-container>
    <ng-container matColumnDef="ancho">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Ancho (mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.ancho}} </td>
    </ng-container>
    <ng-container matColumnDef="prof">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Prof. (mm)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.prof}} </td>
    </ng-container>
    <ng-container matColumnDef="prof_def_d">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Prof/ def.D (%)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.prof_def_d}} </td>
    </ng-container>
    <ng-container matColumnDef="pared_int_ext">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Pared INT / EXT</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.pared_int_ext}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_actualizacion">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Fecha de Actualizacón</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.fecha_actualizacion}} </td>
    </ng-container>
    <ng-container matColumnDef="estado_intervencion">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Estado Intervención Activo/ Inspeccionada /
          Reparada</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.estado_intervencion}} </td>
    </ng-container>
    <ng-container matColumnDef="tipo_intervencion">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Tipo Intervención / Camisa T.B / Compuesto /
          Desbaste / C&E / Recubrimiento / Liberación</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_intervencion}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_intervencion">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Fecha Intervención</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.fecha_intervencion}} </td>
    </ng-container>
    <ng-container matColumnDef="dr_inicio">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>DR Inicio (m)</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.dr_inicio}} </td>
    </ng-container>
    <ng-container matColumnDef="dr_fin">
      <th mat-header-cell *matHeaderCellDef class="text-center"> <b>DR Fin [m]</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.dr_fin}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="longitud">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Longitud [m]</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.longitud}} </td>
    </ng-container>
    <ng-container matColumnDef="ot_intervencion">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>OT Intervención</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.ot_intervencion}} </td>
    </ng-container>
    <ng-container matColumnDef="documento_soporte">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Documento Soporte</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.documento_soporte}} </td>
    </ng-container>
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>OBSERVACIONES</b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.observaciones}} </td>
    </ng-container>
    <ng-container matColumnDef="troncal">
      <th mat-header-cell *matHeaderCellDef class="text-center"><b>Troncal </b> </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.Troncal}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[10,30,100]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
